body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
  
  
}
#featured-property p {
  
  width: 800px;
  margin: auto;
  padding: 20px;

}
#details div{
  float: left;
  text-align: center;
  width: 25%;
  background: pink;
  color: blue;
}

nav a {
  padding-left: 10px;
  padding-right: 10px;
  background: slategray;
}
figcaption {
  font-size: smaller;
}
